node_modules
npm-debug.log
iobroker-data
*.log
.vscode/*
!.vscode/settings.json
.idea
coverage
.nyc_output
*.orig.*
test/**/tmp
.DS_Store
Thumbs.db

# release-script leftover file, must never be committed
.commitinfo
